<header>
	<nav class="navbar navbar-default">
		<div class="container-fluid">
			<!-- Brand and toggle get grouped for better mobile display -->
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="#">AutoPair</a>
			</div>

			<!-- Collect the nav links, forms, and other content for toggling -->
			<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
				<ul class="nav navbar-nav">
					<li class="active"><a href="#add-test">Add Test<span class="sr-only">(current)</span></a></li>
					<li><a href="#view-question">View Questions</a></li>
					<li class="dropdown">
						<a href="#add-questions" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Add Questions<span></span></a>
						<ul class="dropdown-menu">
							<li><a href="#multiple-choice">Multiple Choice</a></li>
							<li><a href="#programming">Programming</a></li>
						</ul>
					</li>
				</ul>
			</div><!-- /.navbar-collapse -->
		</div><!-- /.container-fluid -->
	</nav>
</header>

<section class="view-container">
	<div ng-view class="view-frame animate-view"></div>
</section>

<footer>
	<div class="img-ronin">
		<a href="http://ronin.makersacademy.com/"><img src="http://www.studentfunder.com/wp-content/uploads/2014/06/Makers-Academy-Logo.png"></a>
	</div>
	<div class="credits">
		<p>
			Built by <a href ="https://github.com/forty9er" target="_blank" class="ronin">Tom Barnes</a>, <a href ="https://github.com/youngmanr" target="_blank" class="ronin">Rob Youngman</a>, <a href ="https://github.com/d9nny" target="_blank" class="ronin">Dan Wheeler</a> and <a href ="https://github.com/yevdyko" target="_blank" class="ronin">Yev Dyko</a>.
			<br>
			We built this page during the Makerthon week at <a href="http://ronin.makersacademy.com" target="_blank" class="ronin">Ronin Makers Academy</a>.
			<br>
			This page uses <a href="https://www.angularjs.org/" target="_blank" class="ronin">Angular JS</a>, <a href="https://www.javascript.com/" target="_blank" class="ronin">Javascript</a>, <a href="http://www.w3.org/html/" target="_blank" class="ronin">HTML</a>, <a href="http://www.w3.org/Style/CSS/Overview.en.html" target="_blank" class="ronin">CSS</a>, <a href="http://www.tescolabs.com/" target="_blank" class="ronin">Tesco Labs API</a> and <a href="http://www.bittylicious.com/" target="_blank" class="ronin">Bittylicious API</a>.
		</p>
	</div>
	</footer
